<!DOCTYPE html>

<html>
<head>
	<title><%=title%></title>
</head>

<body>
	<h1> <%= title %> </h1>

	<h3>This path was handled directly through the routing function passed to OSMMVC.  It bypasses the controller paths.</h3>
</body>
</html>