<!DOCTYPE html>

<html>
<head>
	<title><%=title%></title>
</head>

<body>
	<h1> <%= title %> </h1>

	<form action="/main/add_post" method="post">
		Name : <input name="name" type="text"><br/>
		Count: <input name="count" type="text"><br/>

		<button type="submit">Submit</button>
	</form>

	<a href="/main/list">List Page</a>
</body>
</html>

