<!DOCTYPE html>

<html>
<head>
	<title><%=title%></title>
</head>

<body>
	<h1><%=title%></h1>

	<ul>
	<% for(var i=0; i<supplies.length; i++) {%>
	   <li><b><%= supplies[i].name %></b> &dash; <%= supplies[i].count %></li>
	<% } %>
	</ul>

	<p><a href="/main/add">Add Item</a></p>
</body>
</html>

